# Nota: Tuvimos que volver a usar este tipo de requirements en vez de compilar el .in
# pip-compile rompia todo el CI/CD ya que no dejaba elegir bien que version de torch usar
setuptools>=65.0.0,<82
fastapi[all]
SQLAlchemy
streaming_form_data
alembic
kink
numpy
pandas<3.0.0
joblib
pydantic
pydantic-settings
starlette
scikit-learn<1.8.0
datasets
diffusers
evaluate
accelerate
Pillow
beartype
plotly
shap
typer
rich
torch
torchvision
transformers
controlnet_aux
sacrebleu
sentencepiece
optuna
hyperopt
nvidia-ml-py
openpyxl
httpx
wordcloud
opencv-python
protobuf
imblearn
numba
llvmlite
huey
ijson
greenery==3.2
xlrd
filetype
torchmetrics
pywebview
